body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #CFEBFF, #FFFFFF);
  background-repeat: repeat-x;
}

.header {
  max-width: 1120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 50px;
}

.header_logo--dot {
  padding-left: 20px;
  align-self: flex-end;
}

.header_logo--rectangle {
  padding-left: 10px;
}

.header_nav--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 20px;
}

.header_nav--list > a {
  text-decoration: none;
  color: #4B5D68;
}

a:hover {
  color: #212353;
  font-weight: bold;
}

.header_button {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-style: none;
  background-color: #FFFFFF;
  color: #212353;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  box-sizing: border-box;
}

.header_button:hover {
  font-weight: bold;
}

.fa-arrow-right {
  color: #9C69E2;
  width: 20px;
  height: 14px;
}

.headline {
  max-width: 1120px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.headline_box {
  width: 645px;
  height: 464px;
  margin-top: 10%;
}

.headline_title {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #212353;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  width: 645px;
  height: 184px;
  margin-left: 50%;
}

.headline_text {
  font-family: "Nunito", sans-serif;
  color: #4B5D68;
  font-style: normal;
  font-size: 16px;
  height: 120px;
  width: 380px;
  margin-left: 50%;
  padding-top: 40px;
}

.headline_button {
  width: 170px;
  height: 60px;
  left: 240px;
  top: 644px;
  border-style: none;
  border-radius: 50px;
  background-color: #9C69E2;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin-top: 10%;
  margin-left: 50%;
}

.headline_button:hover {
  font-weight: bold;
}

.headline_img {
  width: 785px;
  height: 368px;
  margin-top: 30%;
}

.section_two {
  max-width: 1120px;
  height: 560px;
  margin-left: 10%;
  margin-top: 20%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_two .section_two--img {
  width: 400px;
  height: 504px;
  top: 935px;
  box-sizing: border-box;
}
.section_two .section_two--info {
  padding-left: 10%;
  padding-right: 10%;
}
.section_two .section_two--title {
  width: 475px;
  height: 100px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #212353;
}
.section_two .section_two--text {
  width: 474px;
  height: 170px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.features {
  max-width: 584px;
  height: 160px;
  margin-left: 30%;
  margin-top: 10%;
}

.features_box {
  max-width: 584px;
  height: 160px;
}

.features_title {
  margin-left: 35%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #212353;
}

.features_text {
  max-width: 584px;
  height: 58px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #4B5D68;
}

.grid {
  max-width: 1120px;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(9, auto);
}

@media screen and (max-width: 800px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.features_search {
  max-width: 442px;
  height: 388px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(104, 201, 186, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/4;
  grid-row: 1/3;
}

.features_search--img {
  width: 232px;
  height: 211px;
  box-sizing: border-box;
}

.features_search--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_search--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_search--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.features_button {
  width: 137px;
  height: 26px;
  border-style: none;
  background-color: white;
  opacity: 100%;
  color: #212353;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
}

.features_button:hover {
  font-weight: bold;
}

.fa-arrow-right {
  color: #9C69E2;
  width: 20px;
  height: 14px;
  padding-left: 20px;
}

.features_access {
  max-width: 442px;
  height: 394.56px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(156, 105, 225, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 5/7;
  grid-row: 1/3;
}

.features_access--img {
  width: 241px;
  height: 185px;
  box-sizing: border-box;
}

.features_access--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_access--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_access--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.features_print {
  max-width: 442px;
  height: 358px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(240, 99, 184, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/4;
  grid-row: 4/6;
}

.features_print--img {
  width: 245px;
  height: 181px;
  box-sizing: border-box;
}

.features_print--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_print--title {
  width: 200px;
  height: 50px;
  left: 500.29px;
  top: 2330px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_print--text {
  width: 220px;
  height: 160px;
  left: 500.29px;
  top: 2400px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.features_security {
  max-width: 442px;
  height: 364px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(45, 156, 219, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 5/7;
  grid-row: 4/6;
}

.features_security--img {
  width: 230px;
  height: 201px;
  box-sizing: border-box;
}

.features_security--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_security--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_security--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}