body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #CFEBFF, #FFFFFF);
  background-repeat: repeat-x;
}

.header {
  max-width: 1120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 50px;
}

.header_logo--dot .footer_logo--rectangle, .header_logo--dot .footer_logo--dot {
  padding-left: 20px;
  align-self: flex-end;
}

.header_nav {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.header_nav--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 20px;
}

.header_nav--list > a {
  text-decoration: none;
  color: #4B5D68;
}

a:hover {
  color: #212353;
  font-weight: bold;
}

.header_button, .footer_button--demo {
  width: 210px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-style: none;
  background-color: #FFFFFF;
  color: #212353;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  box-sizing: border-box;
}

.header_button:hover {
  font-weight: bold;
}

.fa-arrow-right .footer_button--demo {
  color: #9C69E2;
  width: 20px;
  height: 14px;
}

.headline {
  width: 1120px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.headline_box {
  width: 645px;
  height: 464px;
  margin-top: 10%;
}

.headline_title {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #212353;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  width: 645px;
  height: 184px;
  margin-left: 50%;
}

.headline_text {
  font-family: "Nunito", sans-serif;
  color: #4B5D68;
  font-style: normal;
  font-size: 16px;
  height: 120px;
  width: 380px;
  margin-left: 50%;
  padding-top: 40px;
}

.headline_button, .footer_button--learn {
  width: 170px;
  height: 60px;
  border-style: none;
  border-radius: 50px;
  background-color: #9C69E2;
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin-top: 10%;
  margin-left: 50%;
}

.headline_button:hover {
  font-weight: bold;
}

.headline_img {
  max-width: 785px;
  max-height: 368px;
  margin-top: 30%;
}

@media screen and (max-width: 800px) {
  .headline {
    display: flex;
    flex-wrap: wrap;
  }
}
.section_two {
  max-width: 1120px;
  height: 560px;
  margin-left: 10%;
  margin-top: 20%;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_two .section_two--img {
  width: 400px;
  height: 504px;
  top: 935px;
  box-sizing: border-box;
}
.section_two .section_two--info {
  padding-left: 10%;
  padding-right: 10%;
}
.section_two .section_two--title {
  width: 475px;
  height: 100px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #212353;
}
.section_two .section_two--text {
  width: 474px;
  height: 170px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .section_two {
    display: flex;
    flex-wrap: wrap;
  }
}
.features {
  max-width: 584px;
  height: 160px;
  margin-left: 30%;
  margin-top: 10%;
}

.features_box {
  max-width: 584px;
  height: 160px;
}

.features_title {
  margin-left: 35%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #212353;
}

.features_text {
  max-width: 584px;
  height: 58px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #4B5D68;
}

.grid {
  max-width: 1120px;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(9, auto);
}

@media screen and (max-width: 800px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
}
.features_search {
  max-width: 442px;
  height: 388px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(104, 201, 186, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/4;
  grid-row: 1/3;
}

.features_search--img {
  width: 232px;
  height: 211px;
  box-sizing: border-box;
}

.features_search--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_search--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_search--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.features_button {
  width: 137px;
  height: 26px;
  border-style: none;
  background-color: white;
  opacity: 100%;
  color: #212353;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-size: 16px;
  box-sizing: border-box;
}

.features_button:hover {
  font-weight: bold;
}

.fa-arrow-right {
  color: #9C69E2;
  width: 20px;
  height: 14px;
  padding-left: 20px;
}

.features_access {
  max-width: 442px;
  height: 388px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(156, 105, 225, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 5/7;
  grid-row: 1/3;
}

.features_access--img {
  width: 232px;
  height: 211px;
  box-sizing: border-box;
}

.features_access--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_access--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_access--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.features_print {
  max-width: 442px;
  height: 388px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(240, 99, 184, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/4;
  grid-row: 4/6;
}

.features_print--img {
  width: 232px;
  height: 211px;
  box-sizing: border-box;
}

.features_print--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_print--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_print--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.features_security {
  max-width: 442px;
  height: 388px;
  margin-top: 10%;
  margin-left: 20%;
  background-color: rgba(45, 156, 219, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 5/7;
  grid-row: 4/6;
}

.features_security--img {
  width: 232px;
  height: 211px;
  box-sizing: border-box;
}

.features_security--info {
  padding-left: 10%;
  padding-right: 20%;
}

.features_security--title {
  width: 200px;
  height: 50px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #212353;
}

.features_security--text {
  width: 220px;
  height: 160px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: "Nunito", sans-serif;
}

.testimonials {
  max-width: 1110px;
  height: 709px;
  margin-top: 15%;
  background-color: #9C69E2;
  border-radius: 50px;
  margin-left: 10%;
}

.testimonials_container {
  width: 405px;
  height: 52px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-left: 20%;
  box-sizing: border-box;
}

.testimonials_info {
  width: 645px;
  height: 330px;
  margin-left: 20%;
  margin-top: 10%;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
}
.testimonials_info .testimonials_img {
  margin-top: 60px;
  margin-left: 70px;
  box-sizing: border-box;
}

.testimonials_box {
  width: 385px;
  height: 200px;
  box-sizing: border-box;
}

.testimonials_title {
  width: 170px;
  height: 29px;
  margin: -80px 0px 0px 200px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #212353;
}

h5 {
  margin: 5px 0px 0px 200px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #9C69E2;
  box-sizing: border-box;
}

.testimonials_text {
  width: 385px;
  height: 130px;
  margin-left: 200px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #4B5D68;
}

@media screen and (max-width: 800px) {
  .testimonials {
    display: flex;
    flex-wrap: wrap;
  }
}
.footer {
  max-width: 1248px;
  height: 761px;
  margin-top: 10%;
  border-top: 2px solid rgba(156, 105, 226, 0.2);
}

.footer_try {
  width: 584px;
  height: 101px;
  margin-top: 10%;
}
.footer_try h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}
.footer_try h4 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.footer_button--learn {
  background-color: #F063B8;
  margin-right: 20px;
}

.footer_button--learn:hover {
  font-weight: bold;
}

.footer_button--demo:hover {
  font-weight: bold;
}

.footer_grid {
  max-width: 1110px;
  height: 408px;
  margin-top: 10%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 160%;
}

.grid_group {
  grid-column: 1/2;
}

.footer_list {
  width: 166px;
  height: 220px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #212353;
  list-style: none;
  grid-column: 2/3;
}
.footer_list .about:hover {
  font-weight: bold;
}
.footer_list .about > a {
  text-decoration: none;
  color: #212353;
}
.footer_list .help:hover {
  font-weight: bold;
}
.footer_list .help > a {
  text-decoration: none;
  color: #212353;
}
.footer_list .social:hover {
  font-weight: bold;
}
.footer_list .social > a {
  text-decoration: none;
  color: #212353;
}

.profile > a {
  text-decoration: none;
  color: #212353;
}

.footer_features > a {
  text-decoration: none;
  color: #212353;
}

.careers > a {
  text-decoration: none;
  color: #212353;
}

.news > a {
  text-decoration: none;
  color: #212353;
}

.signup > a {
  text-decoration: none;
  color: #212353;
}

.guide > a {
  text-decoration: none;
  color: #212353;
}

.reports > a {
  text-decoration: none;
  color: #212353;
}

.qa > a {
  text-decoration: none;
  color: #212353;
}

.list_help {
  grid-column: 3/4;
}

.list_social {
  grid-column: 4/5;
}

.footer_img {
  width: 60px;
  height: 60px;
  grid-column: 4/5;
}